.machine-index-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.machine-index-container .machine-view-head {
  box-shadow: inset 0px 0px 20px -20px #fff, inset 0px -15px 20px -20px #fff;
  flex: 0 0 20px;
  font-size: 13px;
  line-height: 18px;
}

.machine-index-container .machine-view-head .B1,
.machine-index-container .machine-view-head .B2,
.machine-index-container .machine-view-head .machine-time,
.machine-index-container .machine-view-head .horn-box,
.machine-index-container .machine-view-head .electric {
  display: inline-flex;
  color: #eaebfe;
  line-height: 15px;
}

.machine-index-container .machine-view-head .B1 {
  padding-left: 5px;
  cursor: pointer;
}

.machine-index-container .machine-view-head .B2 {
  padding-left: 17px;
  cursor: pointer;
}

.machine-index-container .machine-view-head .machine-time {
  padding-left: 26px;
}

.machine-index-container .machine-view-head .horn-box {
  margin-left: 6px;
  width: 12px;
  height: 9px;
  background: url(../img/machine/horn-box.png) 0 0 no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  transform: scale(1.3);
}

.machine-index-container .machine-view-head .horn-box.active {
  background: url(../img/machine/mute.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.machine-index-container .machine-view-head .electric {
  width: 19px;
  height: 10px;
  background: url(../img/machine/electric.png) 0 0 no-repeat;
  background-size: 100% 100%;
  transform: scale(1.3);
  margin-left: 3px;
}

.machine-index-container .machine-view-center {
  flex: auto;
}

.machine-index-container .machine-view-center .machine-view-iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.machine-index-container .machine-view-center .screen-box {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 120px;
  margin-left: -75px;
  margin-top: -60px;
  background-color: #555cff;
  display: flex;
  flex-direction: column;
  color: #fff;
  box-shadow: 0 0 3px #333;
  display: none;
}

.machine-index-container .machine-view-center .screen-box .head {
  flex: 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #7375a5, #e9f1fc);
  padding: 0 5px;
}

.machine-index-container .machine-view-center .screen-box .head .screen-img {
  background: url(../img/machine/system-img.png) 0 0 no-repeat;
  background-size: 100% 100%;
  width: 18px;
  height: 20px;
}

.machine-index-container .machine-view-center .screen-box .screen-contain {
  flex: auto;
  display: flex;
  justify-content: center;
  line-height: 33px;
  color: #f1ff89;
  font-size: 13px;
  letter-spacing: 1px;
}

.machine-index-container .machine-view-center .screen-box .screen-bottom {
  flex: 0 0 20px;
  display: flex;
  justify-content: space-between;
}

.machine-index-container .machine-view-center .screen-box .screen-bottom .sure, .machine-index-container .machine-view-center .screen-box .screen-bottom .close {
  width: 50px;
  height: 20px;
  background-image: linear-gradient(to bottom, #1d2347, #c8cbfe);
  cursor: pointer;
}

.machine-index-container .machine-view-center .screen-box .screen-bottom .sure {
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.machine-index-container .machine-view-center .screen-box .screen-bottom .sure .sure-img {
  margin-left: 5px;
  width: 12px;
  height: 12px;
  background: url(../img/machine/sure.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.machine-index-container .machine-view-center .screen-box .screen-bottom .close {
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.machine-index-container .machine-view-center .screen-box .screen-bottom .close .close-img {
  margin-right: 5px;
  width: 12px;
  height: 12px;
  background: url(../img/machine/return.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.machine-index-container .machine-view-center .screen-box.active {
  display: flex;
}
